body {
  background-color: #ADD8E6;
}

#header {
  text-align: center;
  background-color: #48bae8;
  color: white;
  font-family: sans-serif;
  width: 960px;
  margin: 0 auto;
  padding: 10px 20px;
}

.container {
  width: 960px;
  position: relative;
  margin: 0 auto 20px auto;
  display: flex;
  background-color: #fafafa;
  padding: 0 20px;
  padding-bottom: 20px;
}

.create-link-form-container {
  width: 50%;
}

.form-field {
  width: 300px;
}

.link-form-button:hover {
  background-color: #ADD8E6;
}

.instructions-container {
  width: 94%;
  height: 130px;
  background-color: white;
  border: 1px solid #a5b5c2;
  margin-top: 20px;
}

.instructions-container h3 {
  margin-left: 10px;
  margin: 10px 0px 10px 15px;
}

.instructions-container p {
  margin-left: 10px;
  margin: 0px 10px 0 15px;
}

.create-link-form-container form {
  margin: 20px 0;
}

.links-index-container {
  width: 50%;
}

.links-index-item {
  border: 1px solid black;
  margin: 5px 0;
  width: 97%;
  background-color: white;
  padding: 5px;
}

.links-index-item span {
  display: block;
  margin: 5px 0 5px 10px;
  width: 97%;
  word-wrap: break-word;
}

.last-link {
  background-color: white;
  width: 94%;
  border: 1px solid #a5b5c2;
}

.last-link h3 {
  margin: 18px 15px;
  width: 94%;
  word-wrap: break-word;
}

.last-link h4 {
  margin: 18px 15px;
  width: 94%;
  word-wrap: break-word;
}
